{% extends "base.html" %}
{% block body %}
<table class="table" id="matchTable">
<h1>Total time played: {{ total_time_played }}</h1>
                            <thead>
                                <tr>
                                    <th>Match ID</th>
                                    <th>Map</th>
                                    <th>Date</th>
                                    <th>Duration</th>
                                    <th>Players</th>
                                </tr>
                            </thead>
                            <tbody id="matchTableBody">
                                {% for match in object_list %}
                                    <tr>
                                        <td><a href="/matches/details/{{ match.id }}">{{ match.id }}</a></td>
                                        <td>{{ match.map }}</td>
                                        <td>{{ match.date }}</td>
                                        <td>{{ match.duration }}</td>
                                        <td>{{ match.players.count }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
</table>
<script>
    /* Formatting function for row details - modify as you need */

    $(document).ready(function(){
        var table = $('#matchTable').DataTable({"order": []});
    });
</script>
{% endblock %}